<h1>Create a new post</h1>

<%= form_for @post do |p| %>

  <% if @post.errors.any? %>
    <div id='error_explanation'>
      <h2>
        <%= pluralize(@post.errors.count, 'error') %>
        prohibited this category from being saved.
      </h2>
      <ul>
        <%= @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= p.label :title %>
    <%= p.text_field :title %>
  </p>
  <p>
    <%= p.label :body %>
    <%= p.text_field :body %>
  </p>
  <p>
    <%= p.submit %>
  </p>
<% end %>

<%= link_to 'Back to posts', posts_path %>
